* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.title {
  text-align: center;
  margin-bottom: 40px;
}

.form-phone-number::-webkit-outer-spin-button,
.form-phone-number::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.contact-item {
  align-items: center;
  margin-bottom: 20px;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.12) 0 4px 28px 0;
  padding: 24px;
}

.image-wrap {
}

.profile-img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
}

.main-container {
  padding: 40px 0 0;
}

.search-box {
  align-items: center;
}

.contact-form,
.margin-bottom {
  margin-bottom: 20px;
}

.contact-form,
.contact-list {
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.12) 0 4px 28px 0;
  padding: 32px;
}

.contact-list,
.contact-form {
  min-height: 470px;
}

.contact-list > div {
  margin-bottom: 20px;
}

.add-img {
  width: 100px;
  height: 100px;
  overflow: hidden;
  border-radius: 50%;
  margin-bottom: 10px;
}

.add-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
